* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}
body {
  background-color: #a8dadc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 100%;
  max-width: 960px;
  padding: 2rem;
  border-radius: 20px;
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 2px solid paleturquoise;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid grey;
}

.pricing-plan:last-child {
  border-bottom: none;
  border-right: none;
}

.pricing-header {
  color: grey;
  margin-bottom: 3%;
}

.pricing-features-item {
  color: #1d3557;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(128, 128, 128, 0.43);
  font-weight: bold;
}

.pricing-price {
  color: #457b9d;
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: bold;
}

.pricing-button {
  color: #457b9d;
  text-decoration: none;
  border: 2px solid;
  width: 150px;
  border-radius: 10px;
  padding: 0.5rem 0rem;
}

.pricing-button:hover {
  background-color: #457b9d;
  color: white;
  transition: all 0.3s ease-in-out;
}

.pricing-img {
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

.is-featured {
  background-color: #1d3557;
  color: white;
}

.is-featured:hover {
  background-color: #a8dadc;
  color: #1d3557;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 700px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    width: 100%;
  }
  img {
    max-width: 100%;
  }
  .pricing-plan {
    border-bottom: none;
  }
}
